{
    "openapi": "3.0.0",
    "info": {
        "title": "SimplePay API v2",
        "description": "This is a SimplePay API v2 documentation.",
        "termsOfService": "#",
        "contact": {
            "name": "Cone Development",
            "url": "https://conedevelopment.com",
            "email": "hello@conedevelopment.com"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://secure.simplepay.hu/payment/v2",
            "description": "The Production SimplePay API"
        },
        {
            "url": "https://sandbox.simplepay.hu/payment/v2",
            "description": "The Test SimplePay API"
        }
    ],
    "paths": {
        "/start": {
            "post": {
                "tags": [
                    "Transaction"
                ],
                "summary": "Start a transaction",
                "description": "Start a transaction using the given parameters",
                "operationId": "start",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/Signature"
                    }
                ],
                "requestBody": {
                    "description": "The transaction object you would like to start.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Transaction"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success response",
                        "headers": {
                            "Signature": {
                                "$ref": "#/components/headers/Signature"
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "salt": {
                                            "type": "string",
                                            "example": "KAC6ZRUacmQit98nFKOpjXgkwdC0Grzl"
                                        },
                                        "merchant": {
                                            "type": "string",
                                            "example": "PUBLICTESTHUF"
                                        },
                                        "orderRef": {
                                            "type": "string",
                                            "example": "101010515680292482600"
                                        },
                                        "currency": {
                                            "$ref": "#/components/schemas/Currency"
                                        },
                                        "transactionId": {
                                            "type": "number",
                                            "example": "99844942"
                                        },
                                        "timeout": {
                                            "type": "string",
                                            "description": "The ISO 8601 format of the timeout date.",
                                            "example": "2004-02-12T15:19:21+00:00"
                                        },
                                        "total": {
                                            "type": "number",
                                            "example": 25.0
                                        },
                                        "paymentUrl": {
                                            "type": "string",
                                            "example": "https://sandbox.simplepay.hu/pay/pay/pspHU/8f4oKRec5R1B696xlxbOcj1jRhhABA2pwSLQDPW60zoGSDWzDU",
                                            "description": "The payment interface URL."
                                        },
                                        "tokens": {
                                            "type": "array",
                                            "items": {
                                                "type": "string",
                                                "example": "SPTBXPQFKRNB2NEKBNXJ42KON6VMVME7M82IK5JX3JX7HISC34KU2LVNC4NVXLLB"
                                            },
                                            "description": "The recurring payment tokens. Provided only for the initial recurring payment."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "headers": {
            "Signature": {
                "schema": {
                    "type": "string",
                    "example": "3WGqCnWJArhA224xVdUY1fPh91tpd6va6JvBrPNuHK449TZTgsRn3DBu5UBGbcTn"
                }
            }
        },
        "parameters": {
            "Signature": {
                "name": "Signature",
                "in": "header",
                "description": "The signature.",
                "required": true,
                "schema": {
                    "type": "string",
                    "example": "3WGqCnWJArhA224xVdUY1fPh91tpd6va6JvBrPNuHK449TZTgsRn3DBu5UBGbcTn"
                }
            }
        },
        "schemas": {
            "Transaction": {
                "required": [
                    "currency"
                ],
                "properties": {
                    "customer": {
                        "type": "string",
                        "example": "Guillaume Tell"
                    },
                    "customerEmail": {
                        "type": "string",
                        "format": "email"
                    },
                    "currency": {
                        "$ref": "#/components/schemas/Currency"
                    },
                    "maySelectInvoice": {
                        "type": "boolean",
                        "default": false
                    },
                    "maySelectEmail": {
                        "type": "boolean",
                        "default": false
                    },
                    "maySelectDelivery": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "example": "HU"
                        }
                    },
                    "twoStep": {
                        "type": "boolean",
                        "default": false
                    },
                    "onlyCardReg": {
                        "type": "boolean",
                        "default": false
                    },
                    "url": {
                        "type": "string",
                        "example": "https://sdk.simplepay.hu/capture.php"
                    },
                    "urls": {
                        "type": "object",
                        "properties": {
                            "success": {
                                "type": "string",
                                "example": "https://sdk.simplepay.hu/success.php"
                            },
                            "fail": {
                                "type": "string",
                                "example": "https://sdk.simplepay.hu/fail.php"
                            },
                            "cancel": {
                                "type": "string",
                                "example": "https://sdk.simplepay.hu/cancel.php"
                            },
                            "timeout": {
                                "type": "string",
                                "example": "https://sdk.simplepay.hu/timeout.php"
                            }
                        }
                    },
                    "language": {
                        "$ref": "#/components/schemas/Language"
                    },
                    "discount": {
                        "type": "number",
                        "default": 0,
                        "exclusiveMinimum": false,
                        "minimum": 0
                    },
                    "shippingCost": {
                        "type": "number",
                        "default": 0,
                        "exclusiveMinimum": false,
                        "minimum": 0
                    },
                    "total": {
                        "type": "number",
                        "default": 0,
                        "exclusiveMinimum": true,
                        "minimum": 0
                    },
                    "delivery": {
                        "$ref": "#/components/schemas/Delivery"
                    },
                    "invoice": {
                        "$ref": "#/components/schemas/Invoice"
                    },
                    "items": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Item"
                        }
                    },
                    "methods": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Method"
                        },
                        "description": "Possible values: CARD, WIRE or EAM."
                    },
                    "timeout": {
                        "type": "string",
                        "description": "The ISO 8601 format of the timeout date.",
                        "example": "2004-02-12T15:19:21+00:00"
                    }
                },
                "type": "object"
            },
            "Method": {
                "type": "string",
                "enum": [
                    "CARD", "EAM", "WIRE"
                ]
            },
            "Currency": {
                "type": "string",
                "enum": [
                    "EUR", "HUF", "USD"
                ]
            },
            "Language": {
                "type": "string",
                "enum": [
                    "AR", "BG", "CS", "DE", "EN", "ES", "FR", "IT", "HR", "HU", "PL", "RO", "RU", "SK", "TR", "ZH"
                ]
            },
            "Item": {
                "type": "object",
                "required": [
                    "ref",
                    "title",
                    "amount",
                    "price"
                ],
                "properties": {
                    "ref": {
                        "type": "string",
                        "example": "SKU123"
                    },
                    "title": {
                        "type": "string",
                        "example": "Sample Product"
                    },
                    "desc": {
                        "type": "string",
                        "example": "A sample product description.",
                        "nullable": true
                    },
                    "amount": {
                        "type": "number",
                        "exclusiveMinimum": true,
                        "minimum": 0,
                        "example": 1
                    },
                    "price": {
                        "type": "number",
                        "exclusiveMinimum": true,
                        "minimum": 0,
                        "example": 25.0
                    },
                    "tax": {
                        "type": "number"
                    }
                }
            },
            "Invoice": {
                "type": "object",
                "properties": {
                    "city": {
                        "type": "string",
                        "example": "Budapest"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+36701234567"
                    },
                    "state": {
                        "type": "string",
                        "example": "BE"
                    },
                    "zip": {
                        "type": "string",
                        "example": "1000"
                    },
                    "company": {
                        "type": "string",
                        "example": "Cone Development"
                    },
                    "country": {
                        "type": "string",
                        "example": "HU",
                        "description": "The ISO 3166-1 alpha-2 format of the country."
                    },
                    "address": {
                        "type": "string",
                        "example": "Üllői út 1."
                    },
                    "address2": {
                        "type": "string",
                        "example": "II/B",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "example": "Guillaume Tell"
                    }
                }
            },
            "Delivery": {
                "type": "object",
                "properties": {
                    "city": {
                        "type": "string",
                        "example": "Budapest"
                    },
                    "phone": {
                        "type": "string",
                        "example": "+36701234567"
                    },
                    "state": {
                        "type": "string",
                        "example": "BE"
                    },
                    "zip": {
                        "type": "string",
                        "example": "1000"
                    },
                    "company": {
                        "type": "string",
                        "example": "Cone Development"
                    },
                    "country": {
                        "type": "string",
                        "example": "HU",
                        "description": "The ISO 3166-1 alpha-2 format of the country."
                    },
                    "address": {
                        "type": "string",
                        "example": "Üllői út 1."
                    },
                    "address2": {
                        "type": "string",
                        "example": "II/B",
                        "nullable": true
                    },
                    "name": {
                        "type": "string",
                        "example": "Guillaume Tell"
                    }
                }
            }
        }
    }
}
